<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdtc.oasystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.gdtc.oasystem.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.LoginTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.ZwsqSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.ZwsqSubmit2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.ZwsqSubmit3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.SendFilesDealActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.IncomingFilesDealActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.ShenpiDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.HomePageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.ZhengwuApplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.IntranetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <!-- Message Activity -->
        <activity
            android:name=".push.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <!-- Polling Service -->
        <service android:name=".push.PollingService">
            <intent-filter>
                <action android:name="com.ryantang.service.PollingService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.MeetingHandleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.WebViewDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.AdministrativeApprovalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".ui.RouteSetOwnerActivity" />
        <activity android:name=".word.OpenWordFromWpsAndInsideActivity" />
        <activity android:name=".word.WebViewActivity" />
        <activity
            android:name=".ui.ShouWenDaiPiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.FaWenDaiPiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".word.PdfWpsActivity" />
        <activity
            android:name=".ui.DispatchHasWebviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.MeetingHandleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.WebviewDispatchdbActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.WebviewIncomingdbActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.AdministrativeApprovalWebviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".tablayout.TabActivity" />
        <activity android:name=".tablayout.ShouwenTabActivity" />
        <activity android:name=".ui.XRecyclerViewActivity" />

        <receiver android:name=".word.MyBroadCastReciver">
            <intent-filter>
                <action android:name="com.kingsoft.writer.back.key.down" />
                <action android:name="cn.wps.moffice.file.close" />
                <action android:name="com.wps.moffice.file.save" />
                <action android:name="com.kingsoft.writer.home.key.down" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.DaipiWorkActivity"></activity>
    </application>

</manifest>